body {
    color: rgb(255, 0, 0);
    background: rgb(0, 0, 0)
}

header{
    border-bottom:solid 2px rgb(rgb(225, 0, 255));
    padding:20px;
font-size: 32px;
color: rgba(22, 1, 43, 0.849);
background-color: blueviolet;
}
.chamada{
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: right 5% ;
}
p{
    text-align: center;
    font-size:  10px;
}