body {
    color: pink;
    background: black
}

header{
    border-bottom:solid 2px rgb(rgb(225, 0, 255));
    padding:20px;
font-size: 32px;
color: rgba(137, 43, 226, 0.281);
background-color: blueviolet;
}
.chamada{
    background-color: azure;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    font-size:  10px;
}